header { background-color: #D2B48C;
         color: #8C3826; 
         text-align: center; }

body { background-color: #FCEBB6;
        color: #221811;
        font-family: Tahoma, Arial, sans-serif;
        background-image: url("javajam images/fadedroad.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; }

h1 { line-height: 200%;}

h2 { color: #8C3826; }

nav { font-weight: bold; 
      text-align: center; }

footer { background-color: #D2B48C;
         font-size: .60em; 
         font-style: italic;
         text-align: center; }

#wrapper { background-color: #FEFAEB;
            width: 80%;
            margin-right: auto;
            margin-left: auto; }

#mugs { float: right;
        margin: 0 0 5px 5px;
        border: 1px solid #000000; }